<div class="row">
  <div class="col s12">
      <h1 class="header center titolo-home">LacerMarket</h1>
      <h1 class="center testo-sotto-titolo">Vendi e compra contenuti digitali</h1>
      <div class="row center"><%= link_to "Vai ai Contenuti", contents_path, class: "btn-large waves-effect waves-light indigo lighten-2" %></div>
  </div>
</div>

<div class="row">

    <div class="col s4">
        <h2 class="center orange-text">
        <i class="medium material-icons">flash_on</i>
        </h2>
    </div>
    <div class="col s4">
        <h2 class="center orange-text">
        <i class="medium material-icons">group</i>
        </h2>
    </div>
    <div class="col s4">
        <h2 class="center orange-text">
        <i class="medium material-icons">settings</i>
        </h2>
    </div>

</div>
  











