@import "materialize";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.btn-devise {
    width: 100%;
}

.classe-titolo {
    
    margin-top: 0px;
    font-size: 3.4em;
}

.classe-prezzo {
    
    font-size: 2em;
}

.classe-immagine {
    
    padding-right: 5%;
}
